<%= stylesheet_link_tag 'application' %>

 <h1>The Original Pokemon</h1>

<div class="pokedex">
    <% sum = 0%>
    <% @pokemons.each do |pokemon| %>
    <p> <%= sum+=1 %>. <%= link_to pokemon.name, pokemon_path(pokemon) %></p>
    <% end %>
</div>