/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 html{
  background-color: #3D7DCA;;
}
 @font-face {
  font-family: pokemonHollow;
  src: url("Pokemon Hollow.ttf");
 }

 @font-face {
  font-family: pokemonSolid;
  src: url("Pokemon Solid.ttf");
 }

 body{
   background-image: url("background_5.jpg");
   /* background-repeat: no-repeat; */
   background-attachment: fixed;
   background-size: cover;
 }

 .banner-img {
    width: 100%;
   }
  
   .banner {
     width: 85%;
     margin: 0px auto;
  
   }
  
   .nav {
    background-color:#3D7DCA;
    height: 40px;
    width: 85%;
    margin: 0px auto;
  }
  
   .nav li {
     /* border: 1px solid black; */
     display: inline-block;
     line-height: 40px;
     padding: 0px 15px;
     margin: 0px;
  
   }
  
   .nav li:hover {
     background-color: whitesmoke;
     transition: 1s;
   }
  
   .nav li a {
    text-decoration: none;
    color: black;
    font-weight: 800;
  }
  
  
  .right {
    float: right;
  }



.pokeshow{
  display: grid;
  grid-template-areas: "title"
                       "img"
                       "desc";
  background-image: url("background_5.jpg");
  /* background-repeat: no-repeat; */
  background-attachment: fixed;
  background-size: cover;
  min-height: 100vh;
}
.title{
  grid-area: title;
}
.pokeimg{
  grid-area: img;
  display: inline-flex;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: auto;
  margin-top: -100px; 
  
}
img{
  width: 100%;
  height: auto;
}

.desc{
  grid-area: desc;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  color: #003A70;
  font-family: Arial, Helvetica, sans-serif;
  background-color:rgb(255,255,255, 0.4);
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  margin-top: -100px; 
  margin-bottom: 50px;
  
}
#desc_title{
  font-family: "Arial Black", Gadget, sans-serif;
}